@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #161f2c;
}

@layer base{
  button:hover{
    background-color:#9B111E;
    transform:scale(1.04);
    transition-duration: 100ms;
  }
  img:hover{
    transform:scale(1.04);
    transition-duration: 100ms;
  }
  
  
}
